* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

input, textarea, select, button {
    outline: none !important;
}

body {
    color: #000;
    background: #e6f0ee;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.vertical-middle > * {
    vertical-align: middle;
}

/*content*/
.header {
    min-height: 60px;
    background: #72b160;
}

.footer {
    min-height: 32px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

a.logo {
    margin: 11px 40px 0 0;
    float: left;
}

.default-bg {
    background: #78b467;
}

.default-cl {
    color: #4a4c45;
}

.green-cl {
    color: #78b467;
}

.red-cl {
    color: #ef3830;
}

.panel {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 13px 0 rgba(28, 42, 55, 0.15);
}

.m-bot15 {
    margin-bottom: 15px;
}
.m-bot25 {
    margin-bottom: 25px;
}
.m-bot36 {
    margin-bottom: 36px;
}
.m-bot20 {
    margin-bottom: 20px;
}

.m-bot30 {
    margin-bottom: 30px;
}
.m-lr {
    margin: auto 22px;
}

/*footer*/
.site-footer {
    background: #d0d9d7;
    color: #7f8886;
    font-size: 12px;
    padding: 10px 0;
    z-index: -1;
}

.go-top {
    margin-right: 1%;
    float: right;
    background: rgba(255, 255, 255, .5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.go-top i {
    color: #2A3542;
}

/*navbar header*/
.navbar-header, .dropdown-menu.dropdown-details > li > a {
    color: #abde9c;
}

.navbar-toggle .icon-bar {
    background: #abde9c;
}

.nav > li > a.header-nav-link {
    font-weight: 500;
    color: #abde9c;
}

.nav > li.active > a.header-nav-link,
.nav > li > a.header-nav-link:hover,
.nav > li > a.header-nav-link:focus,
.nav .open > a.header-nav-link:hover,
.nav .open > a.header-nav-link,
.nav .open > a.header-nav-link:focus,
.nav .open > a.header-nav-link:hover,
.dropdown-menu > li > a.header-nav-link:focus,
.dropdown-menu > li > a.header-nav-link:hover {
    color: #fff;
    background: #72b160;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 0 7px;
    }

    #header-navbar-collapse {
        margin-top: 20px;
    }

    .dropdown-menu > li > a.header-nav-link:focus,
    .dropdown-menu > li > a.header-nav-link:hover {
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .navbar-nav > li > .dropdown-menu.dropdown-details {
        top: 30px;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
        border: none !important;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .dropdown-menu.dropdown-details > li > a {
        padding: 6px 12px;
        color: #72b160;
    }

    .log-arrow-up {
        background: url("../img/arrow-up.png") no-repeat;
        width: 20px;
        height: 11px;
        position: absolute;
        right: 20px;
        top: -10px;
    }

    .navbar-nav-btn {
        top: -7px;
        border: 1px solid #abde9c;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 4px 10px;
        background: none;
        margin-right: 0;
        cursor: pointer;
    }

    .navbar-nav-btn:focus,
    .navbar-nav-btn:hover,
    .nav > li.navbar-nav-btn:focus > a.header-nav-link,
    .nav > li.navbar-nav-btn:hover > a.header-nav-link {
        color: #3a6608;
        background: #fff;
    }

    .navbar-nav.navbar-right > li.navbar-nav-btn > a {
        padding: 0;
    }

    .navbar-nav-btn {
        margin: 0 8px;
    }

    .navbar-nav-btn + .navbar-nav-btn {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .navbar-nav.navbar-right > li > a {
        padding: 0 15px;
    }

    .navbar-nav > li > a {
        padding: 0 20px;
    }

    .navbar-nav-btn {
        margin: 0 15px;
    }
}

.navbar-header .navbar-toggle {
    margin-top: 13px;
}

.red-point:after {
    position: absolute;
    content: ' ';
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: red;
}

.red-point:after {
    top: 0;
    right: 0;
}

.icon-bell-wrap, .icon-unsorted-wrap {
    position: relative;
}

/*main content*/
.main-content .wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 15px 0;
    width: 100%;
}

.pro-sort {
    background: #f2f6f5;
    border: 1px solid #d0d9d7;
    border-radius: 2px;
}

.pro-sort button.btn {
    border-radius: 0;
}

.btn-sort {
    background-color: #f2f6f5;
    border-color: #f2f6f5;
    color: #4a4c45;
    background-clip: padding-box;
    box-shadow: none !important;
}

.btn-sort:hover, .btn-sort:focus, .btn-sort:active, .btn-sort.active, .open .btn-sort.btn-danger {
    background-color: #fff;
    border-color: #fff;
    color: #4a4c45;
    opacity: .8;
}

.icon-unsorted-wrap > .fa-sort-down {
    /*position: absolute;*/
}

.icon-unsorted-wrap > .fa-sort-up {
    position: absolute;
    left: 0;
    top: 1px;
}

.pro-img-box {
    height: 180px;
    text-align: center;
    padding-top: 15px;
}
.pro-img-box>img{
    height: 100%;
    width: auto;
}
@media (min-width: 768px) {
    .pro-img-box img{
        width: 100%;
        height: 100%;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }
    .pro-img-box {
        padding-top: 0;
    }
}

.product-list .price {
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: #ef5265;
}

.product-list .price > span {
    color: #4a4d45;
}

.pro-h-box {
    margin: 3px 0 18px 0;
}

.pro-b-box {
    font-size: 12px;
    color: #94998a;
}

.social-icons li {
    float: left;
    display: inline;
    list-style: none;
    text-indent: -9999px;
    padding: 0;
}

.social-icons li > a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    margin: auto;
}

.social-icons li:hover > a {
    background-position: 0 -30px;
}

.social-icons li .facebook {
    background: url(../img/facebook.png) no-repeat;
}

.social-icons li .twitter {
    background: url(../img/twitter.png) no-repeat;
}

.social-icons li .tengxun {
    background: url(../img/tenxun.png) no-repeat;
}

.btn-red {
    color: #fff;
    background-color: #ef3830;
    border-color: #ef3830;
    border-radius: 2px;
    font-size: 12px;
}

.btn-red.active, .btn-red.focus, .btn-red:active, .btn-red:focus, .btn-red:hover, .open > .dropdown-toggle.btn-red {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    opacity: .8;
}

.product-list-pagination .pagination {
    margin: 0;
}

.product-list-pagination .pagination > li > a {
    color: #585858;
    border-radius: 0;
    padding: 5px 12px;
    border: 1px solid #dbe1e8;
}

.product-list-pagination .pagination > li > a:focus,
.pagination > li > a:hover {
    color: #fff;
    background: #72b160;
    border-color: #72b160;
}

.product-list-pagination .pagination > .active > a,
.product-list-pagination .pagination > .active > a:focus,
.product-list-pagination .pagination > .active > a:hover {
    color: #fff;
    background: #72b160;
    border-color: #72b160;
}

/*model*/
.pro-all-box .modal-content {
    padding: 25px 50px 42px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .pro-img-details {
        width: 306px;
        height: 306px;
        margin: auto;
    }

    .modal-pro {
        width: 873px;
    }
}

.pro-img-details img {
    width: 100%;
    height: 100%;
}

.pro-text-list ul li {
    list-style: disc;
    font-size: 12px;
    color: #7c8074;
}
.pro-text-list{
    height: 306px;
    overflow-y: auto;
    margin-bottom: 20px;
}
.pro-text-list ul{

    padding-left: 15px;
}

.pro-all-box .modal-header,
.pro-all-box .modal-footer {
    border: none;
}

.pro-all-box .modal-header {
    font-size: 20px;
    color: #4a4c45;
}

.pro-img-details {
    margin-bottom: 18px;
}

.social-img-list {
    margin: 0 20% 42px;
}

.social-img-list .social-icons li {
    width: 33.3%;
}

.social-img-list .social-icons li a {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.social-img-list .social-icons li .facebook {
    background: url(../img/facebook-2.png) no-repeat;
}

.social-img-list .social-icons li .twitter {
    background: url(../img/twitter-2.png) no-repeat;
}

.social-img-list .social-icons li .tengxun {
    background: url(../img/tenxun-2.png) no-repeat;
}

.social-img-list .social-icons li a {
    opacity: .75;
}

.social-img-list .social-icons li a:hover {
    opacity: 1;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.pro-all-box .price,
.social-link,
.mes-list-title,
.default-list-box .table-header,
.reward-list-title,
.rewards-transfer-title,
.payment-method-list-title,
.my_deal-list-title{
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    font-size: 18px;
}

.pro-all-box .social-link {
    font-size: 14px;
}
.pro-all-box .social-link:hover{
    opacity: 0.75;
    color: #ef3830;
}
.pro-all-box .price > span {
    color: #4a4d45;
    font-size: 14px;
}

.btn-green {
    color: #fff;
    background-color: #72b160;
    border-color: #72b160;
    border-radius: 3px;
}

.btn-green.active, .btn-green.focus, .btn-green:active, .btn-green:focus, .btn-green:hover, .open > .dropdown-toggle.btn-green {
    color: #fff;
    background-color: #72b160;
    border-color: #72b160;
    opacity: .8;
}

/*message*/
.mes-list-box {
}

.mes-list-title {
    font-size: 20px;
}

.mes-list-box .panel-head {
    padding: 10px 25px 25px;
    border-bottom: 2px dotted #f3f3f5;
}

.mes-list-box img {
    width: 40px;
    height: 40px;
}

.mes-list-body {
    border-bottom: 2px dotted #f3f3f5;
}

.mes-list-box .mes-list {
    color: #4a4d45;
    font-size: 12px;
    margin: 0;
    padding: 10px 0 0;
    border-top: 2px dotted #f3f3f5;
    border-bottom: 10px solid #fff;
    height: 60px;
    overflow: hidden;
    line-height: 1.5;
}

.mes-list-box .mes-list:first-child {
    border-top: none;
}

.span-time {
    color: #abb3b1;
}

.mes-list-box .mes-list.active {
    height: 120px;
    background: #f3f3f5;
    border-bottom: 10px solid #f3f3f5;
    margin: -2px -15px;
}

.mes-list-box .mes-list.active img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.mes-list-box .mes-list i.fa-angle-up,
.mes-list-box .mes-list.active i.fa-angle-down {
    display: none;
}

.mes-list-box .mes-list.active i.fa-angle-up {
    display: block;
    margin: 25px 0 20px;
}

.mes-list-box .mes-list:hover {
    background: #f3f3f5;
    border-bottom: 10px solid #f3f3f5;
    opacity: .75;
    cursor: pointer;
    margin: -2px -15px;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.23s;
    -webkit-transition: all 0.2s;
}

/*point*/
.ponit-list-title label {
    color: #979991;
}

.ponit-list-title * {
    border-radius: 3px;
}

/*text input*/
.form-control {
    border: 1px solid #d0d9d7;
    box-shadow: none;
    color: #c2c2c2;
}

.form-control:focus, #focusedInput {
    border: 1px solid #517397;
    box-shadow: none;
}

.form-horizontal .control-label {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}

.input-group-addon {
    background: #dfe5e4;
    color: #4a4c45;
    cursor: pointer;
}

.input-group-addon:hover {
    opacity: .8;
}

.ponit-list-title .form-control {
    height: 40px;
}

.ponit-list-title .btn {
    padding: 9px 16px;
    margin: auto 12px;
}

.btn-fb {
    background-color: #6c92af;
    border-color: #6c92af;
    color: #fff;
}

.btn-fb.active, .btn-fb.focus, .btn-fb:active, .btn-fb:focus, .btn-fb:hover, .open > .dropdown-toggle.btn-fb {
    color: #fff;
    background-color: #6c92af;
    border-color: #6c92af;
    opacity: .8;
}

@media (min-width: 992px) {
    .ponit-list-title .btn {
        padding: 9px 32px;
        margin: auto 14px;
    }

    .ponit-list-title .form-control {
        min-width: 345px !important;
    }
}

.ponit-list-title .panel-heading {
    padding: 30px 50px;
}

.default-list-box .table-header {
    font-size: 14px;
}

.default-list-box ul.ul-table > li.table-header {
    border-bottom: none;
}
.default-list-box ul.ul-table > li {
    border-bottom: 2px dotted #f3f3f5;
}
.default-list-box ul.ul-table > li > div {
    font-size: 12px;
    padding: 25px 0;
}

.default-list-box ul.ul-table > li.table-header > div {
    border-bottom: none;
    padding: 12px;
    font-size: 14px;
}

.default-list-box .table-header {
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.07);
}

.default-list-box {
    padding: 13px 20px;
}

.default-list-box ul.ul-table > li.table-header:hover {
    background: none;
}

.default-list-box ul.ul-table > li:hover {
    background: #f3f3f5;
}

/*reward*/
.reward-list-title,
.payment-method-list-title,
.my_deal-list-title{
    font-size: 20px;
}
.reward-list-body,
.rewards-transfer-box .price{
    font-family: 'Microsoft YaHei';
}
/*rewards transfer */
.rewards-transfer-box{
    padding: 15px;
    color: #303133;
}
.rewards-transfer-box .panel-body{
    background-color: #f1f7f6;
}
.rewards-transfer-title-box .panel-body{
    padding: 38px 60px;
}
.rewards-transfer-box img {
    width: 80%;
}
.rewards-transfer-box .point-img-box{
    min-height: 227px;
    line-height: 227px;
    text-align: center;
    background-color: #f1f7f6;
}
.rewards-transfer-box .price{
    font-family: 'Microsoft YaHei';
}
.rewards-transfer-box .btn-red{
    padding: 7px 40px;
}
.rewards-transfer-body .small{
    min-height: 60px;
    vertical-align: middle;
}
.rewards-transfer-body .panel{
    margin-bottom: 0;
}
/*regiser*/
.modal-green .modal-content {
    box-shadow: none;
    border: none;
}

.modal-green .modal-header {
    background: #72b160;
    color: #fff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: none;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
}

.modal-green .modal-header .close {
    margin-top: -4px;
    color: #fff;
    opacity: .5;
}
.modal-green .close:focus,.modal-green  .close:hover{
    opacity: 1;
}

.modal-green .modal-footer{
    border-top: none;
    text-align: center;
}
.modal *{
    border-radius: 5px;
}
.modal-green .modal-body{
    padding: 20px 20px 15px;
}
.modal-green .form-control{
    border-radius: 0;
}

.modal-green label{
    font-weight: inherit;
    margin-bottom: 10px;
    color: #4a4c45;
}
.modal-green .form-control::-webkit-input-placeholder{
    color: #d5d9ce;
    font-size: 14px;
}

.modal-green  .help-block{
    font-size: 12px;
    color: #ef3830;
}
.modal-green .btn,
.alert-white .btn{
    border-radius: 2px;
    padding: 6px 43px;
}
.regiser-box .modal-dialog,
.change-password-box .modal-dialog,
.alert-white.modal-dialog{
    width: 400px;
}
.modal-green .modal-footer{
   padding-top: 0;
    padding-bottom: 28px;
}
.modal-green .form-group{
    margin-bottom: 20px;
}
.alert-white {
    color: #4a4c45;
    background-color: #fff;
    border: none;
    padding: 30px 25px;
}

.alert-white hr {
    border-top-color: #4a4c45
}

.alert-white .alert-link {
    color: #2b542c
}
.alert .close{
    margin-top: -30px;
    margin-right: -15px;
}
/*login*/
.login-box .modal-dialog{
    width: 696px;
}
.border-right{
    border-right: 1px solid #d0d9d7;
    border-radius: 0;
}
.login-box .border-right{
   padding-right: 30px;
}
.login-facebook {
    padding-left: 30px;
    padding-top: 60px;
}
.login-box .modal-footer{
    padding-bottom: 0;
}
.login-box .modal-body{
    padding-bottom: 30px;
}
.login-facebook a{
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
}
/*default-list-box*/
.default-list-box .panel-head{
    margin-top: 17px;
    margin-bottom: 10px;
}
/*payment method */
.default-list-box .payment-method-list-body ul.ul-table > li.table-header > div{
    padding-left: 0;
    padding-right: 0;
}
.payment-method-list-body img{
    width: 80px;
    height: 80px;
}
.btn-white{
    background-color: #fff;
    border-color: #4a4c45;
    color: #4a4c45;
    min-width: 80px;
}
.btn-white:hover,.btn-white:focus{
    opacity: 0.75;
}
.payment-method-list-body .btn{
    font-size: 12px;
    display: block;
    margin: auto;
}
.payment-method-list-body .btn + .btn{
    margin-top: 20px;
}
.btn-disabled{
    background-color: #d9d9d7;
    border-color: #d9d9d7;
    color: #fff;
    min-width: 82px;
}
.btn-disabled:hover,.btn-disabled:focus{
    color: #fff;
}
.payment-method-list-body .btn-green{
    min-width: 125px;
}
@media (max-width: 992px){
    .payment-method-list-title + .panel-body,
    .my_deal-list-title + .panel-body{
        overflow-x: auto;
    }
    .payment-method-list-body,
    .my_deal-list-body{
        min-width: 970px;
    }
}
.payment-method-list-body .btn{
    padding: 4px 6px;
}
.payment-method-alert .alert-white,
.my-deal-alert .alert-white{
    padding-bottom: 15px;
}
.paypel-box.modal-green .modal-footer,
.order-box.modal-green .modal-footer{
    padding-bottom: 20px;
    padding-top: 5px;
}

/*my deal*/
.my_deal{

}
.btn-share{
    background-color: #ededed;
    border-color: #4a4c45;
    color: #4a4c45;
    min-width: 63px;
}
.btn-share:hover,.btn-share:focus{
    opacity: 0.75;
    background-color: #ededed;
    border-color: #4a4c45;
    color: #4a4c45;
}
.my_deal-list-body p{
    margin: 15px auto;
}
.my_deal-list-body .btn-orange,
.my_deal-list-body .btn-red{
    min-width: 125px;
}
.btn-orange{
    background-color: #ebaf5c;
    border-color: #ebaf5c;
    color: #fff;
}
.btn-orange:hover,.btn-orange:focus{
    opacity: 0.75;
    background-color: #ebaf5c;
    border-color: #ebaf5c;
    color: #fff;
}
.alert-white .social-img-list{
    margin-bottom: 5px;
}