html{
  font-size: 16px;
}
body,
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}
body{
  font-family: Segoe UI, tahoma, arial, sans-serif;
  font-size: 0.625em;
}
ul{
  padding-left: 0;
}
ul li {
  list-style: none;
}
p {
  margin: 0 0 10px;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}
.break-word{
  word-break: break-all;
  word-wrap: break-word;
}
.header li {
    display: inline-block;
}
.container{
    margin: 5px 25px;
}
.container-header{
    font-size: 1.4em;
}
.dl-horizontal{

}
.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
    overflow:auto;
    _height:1%
}
.dl-horizontal dd>div{
    display: inline-block;
    width: 50%;
    float: left;
}
/*.dl-horizontal dd>div:last-child{*/
    /*width: 45%;*/
    /*float: right;*/
/*}*/
dt, dd {
    line-height: 2.2;
}
.table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.bordered{
    border: 1px solid #828790;
    height: 155px;
    overflow: auto;
}
table thead{
    background: -webkit-linear-gradient(#fff, #f1f2f3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #f1f2f3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #f1f2f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff, #f1f2f3); /* 标准的语法 */
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #d5d5d5;
    font-weight: inherit;
}
.table-wrap .caption{
    border-top: 2px dotted #828790;
    padding: 10px 0 20px;
}
.table-wrap .caption>.caption-wrap{
    display: inline-block;
}
.table-wrap .caption>.caption-info{
    float: right;
    margin-right: 25px;
    display: inline-block;
}
.footer{
    text-align: right;
    margin: 25px;
}
.footer>div{
    display: inline-block;
    margin: 0 15px;
}
img + a,img{
   vertical-align: middle;
}
img{
    width: 20px;
    height: 20px;
}
.logining{
    position: absolute;
    margin: auto;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.po-re{
    position: relative;
}
.clearfix{
    overflow:hidden;
    _zoom:1;
}
